name: CI/CD

on:
  push:
    branches:
      - main
      - next
      - beta
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:

env:
  FORCE_COLOR: 3

permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: ./.github/setup

      - name: Check monorepo with Sherif
        run: bun run lint:sherif
      - name: Check source code formatting
        run: |
          set +e # Allow Prettier to fail, but capture the error code
          output=$(./node_modules/.bin/prettier --list-different ./packages/nuqs-svelte 2>&1)
          exit_code=$?
          set -e
          if [ $exit_code -ne 0 ]; then
            echo "$output" | while IFS= read -r file; do
              echo "::warning file=$file::Prettier detected formatting issues in $file"
            done
            exit $exit_code
          else
            echo "No formatting issues found"
          fi

  cd:
    name: Deployment
    runs-on: ubuntu-24.04-arm
    needs:
      - lint

    if: ${{ github.ref_name == 'main' || github.ref_name == 'beta' }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: ./.github/setup
        with:
          install-args: "--filter ./packages/*"

      - name: Build package
        run: bun turbo build --filter nuqs-svelte

      - name: Semantic Release
        run: ../../node_modules/.bin/semantic-release
        working-directory: packages/nuqs-svelte
