name: PR Preview
on:
  pull_request:
    types: [opened, synchronize, labeled]
  pull_request_review:
    types: [submitted]

jobs:
  check-changes:
    name: Check for relevant changes to deploy
    if: |
      github.event.review.state == 'APPROVED' ||
      github.event.pull_request.author_association == 'OWNER' ||
      github.event.pull_request.author_association == 'MEMBER' ||
      github.event.pull_request.author_association == 'COLLABORATOR' ||
      contains(github.event.pull_request.labels.*.name, 'deploy:preview')
    runs-on: ubuntu-24.04-arm
    outputs:
      enable: ${{ steps.check-for-changes.outputs.enable }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 2
      - name: Check for relevant changes
        id: check-for-changes
        run: |
          if git diff --quiet HEAD^ HEAD ./packages/nuqs-svelte; then
            echo "No changes to nuqs-svelte package, skipping preview deployment."
            echo "enable=false" >> $GITHUB_OUTPUT
          else
            echo "enable=true" >> $GITHUB_OUTPUT
          fi

  deploy-preview:
    name: Deploy to pkg.pr.new
    needs: check-changes
    if: needs.check-changes.outputs.enable == 'true'
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version-file: .node-version
          cache: pnpm
      - name: Install dependencies
        run: pnpm install
      - name: Build package
        run: pnpm build --filter nuqs-svelte
      - name: Set package version
        run: |
          pnpm pkg set version=0.0.0-preview.${{ github.event.pull_request.head.sha }}
          echo "::notice title=Install (PR)::pnpm add https://pkg.pr.new/nuqs-svelte@${{ github.event.pull_request.number }}"
          echo "::notice title=Install (SHA)::pnpm add https://pkg.pr.new/nuqs-svelte@${{ github.event.pull_request.head.sha }}"
          echo "::notice title=Version::0.0.0-preview.${{ github.event.pull_request.head.sha }}"
        working-directory: packages/nuqs-svelte
      - name: Publish to pkg.pr.new
        run: pnpx pkg-pr-new publish --compact './packages/nuqs-svelte' --no-template --packageManager=pnpm --pnpm
