name: PR Preview
on:
  pull_request:
    types: [opened, synchronize, labeled]
  pull_request_review:
    types: [submitted]

jobs:
  check-changes:
    name: Check for relevant changes to deploy
    runs-on: ubuntu-24.04-arm
    outputs:
      enable: ${{ steps.check-for-changes.outputs.enable }}

    if: |
      github.event.review.state == 'APPROVED' ||
      github.event.pull_request.author_association == 'OWNER' ||
      github.event.pull_request.author_association == 'MEMBER' ||
      github.event.pull_request.author_association == 'COLLABORATOR' ||
      contains(github.event.pull_request.labels.*.name, 'deploy:preview')

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 2
      - name: Check for relevant changes
        id: check-for-changes
        run: |
          if git diff --quiet HEAD^ HEAD ./packages/nuqs-svelte; then
            echo "No changes to nuqs-svelte package, skipping preview deployment."
            echo "enable=false" >> $GITHUB_OUTPUT
          else
            echo "enable=true" >> $GITHUB_OUTPUT
          fi

  deploy-preview:
    name: Deploy to pkg.pr.new
    needs: check-changes
    runs-on: ubuntu-24.04-arm

    if: needs.check-changes.outputs.enable == 'true'

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: ./.github/setup
        with:
          install-args: "--filter ./packages/*"

      - name: Build package
        run: bun run turbo build --filter nuqs-svelte

      - name: Set package version
        working-directory: packages/nuqs-svelte
        run: |
          bun pm pkg set version=0.0.0-preview.${{ github.event.pull_request.head.sha }}
          echo "::notice title=Install (PR)::bun add https://pkg.pr.new/nuqs-svelte@${{ github.event.pull_request.number }}"
          echo "::notice title=Install (SHA)::bun add https://pkg.pr.new/nuqs-svelte@${{ github.event.pull_request.head.sha }}"
          echo "::notice title=Version::0.0.0-preview.${{ github.event.pull_request.head.sha }}"

      - name: Publish to pkg.pr.new
        run: bun x pkg-pr-new publish --compact './packages/nuqs-svelte' --no-template --packageManager=bun --bun
